<ion-header>
  <ion-toolbar color ="">
      <ion-buttons slot="start">
          <ion-back-button  color="primary" defaultHref="/Tab2" (click)='myBackButton()' ></ion-back-button>
        </ion-buttons>
        <ion-title><font color="#3B7AE1"><b>결과화면</b></font></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
 <br><br><br>
  <div class="menu">
      <canvas #doughnutCanvas style="position: relative; height:20vh; width:36vw"></canvas>
      <br>
      <h2> <center> <font style="color: #3B7AE1;">{{winner}}님 당선을 축하드립니다!</font></center></h2>
</div>


</ion-content>