<ion-header>
  <ion-toolbar color = "" style="border-bottom: 0.5px solid gray;">

    <ion-buttons slot="end">
      <ion-button  (click)="gohome()">
       <font style="color: blue;">로그아웃</font> 
      </ion-button>
    </ion-buttons>
      <ion-title><font color="blue"><b>선거목록</b></font></ion-title>
 
    </ion-toolbar>

</ion-header>
<ion-content >
  <ion-list *ngFor="let item of items; let i=index;">
    <ion-card (click)="getElection(item)">
      <ion-item lines="none">
        <table class="product_tabel">
            <tr>
                <td rowspan="2" width="20vh;">
                    <ion-avatar>
                        <ion-img src='assets/sw_image/manual-voting.png' style='width:100%;height:100%'></ion-img>
                    </ion-avatar>
                </td>
                <td>
                    {{item.e_name}}
                </td>
            </tr>
            <tr>
                <td>
                    <h6>{{item.e_date}}</h6>
                </td>

            </tr>
        </table>
        <div *ngIf="state[i]=='투표중'" slot="end"><font style="color:#3B7AE1;">{{item.ue_state}}</font></div>
        <div *ngIf="state[i]=='투표완료'" slot="end"><font style="color: green;">{{item.ue_state}}</font></div>

       
    </ion-item>
  </ion-card>
</ion-list>
</ion-content>