<ion-header>
  <ion-toolbar color ="">
      <ion-buttons slot="start">
          <ion-back-button text="" color="primary" (click)="myBackButton()" defaultHref="/tabs/tab2"></ion-back-button>
        </ion-buttons>
        <ion-title><font color="#3B7AE1"><b>선거정보</b></font></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="menu">
  <div class="ion-padding" *ngFor="let item of items">
 
     선거개요
     <br>
     <ion-card style="height: 250px; ">
      {{item.e_content}}

     </ion-card>
 
  
  </div>
  <br>
  <ion-grid >

    <ion-row>
      <ion-col>
<ion-card>
  <ion-img (click)="tosysmanageVoter()" src='assets/sw_image/listinfo.png' style="width: 100%;height: 130px;"></ion-img>
</ion-card>


       
      </ion-col>
      <ion-col>
        <ion-card>
          <ion-img (click)="tosysmanageCandidate()" src='assets/sw_image/businessman.png' style="width: 100%;height: 130px;" ></ion-img>
        </ion-card>
      </ion-col>
    </ion-row>


  </ion-grid>

</ion-content>
  