<ion-header>
  <ion-toolbar >
      <ion-buttons slot="start" >
          <ion-back-button  color="primary" defaultHref="tab2" (click)='myBackButton()'></ion-back-button>
        </ion-buttons>
    <ion-title > <font color="blue"> 후보자보기 </font> </ion-title>

  </ion-toolbar>
</ion-header>
<ion-content class="menu" >
  <br>
  <div *ngFor = "let item of items">
  <ion-card >
    <ion-item>
      <table class="product_tabel" >
     
        <tr>
          <td rowspan="2" width="20vh;" >
            <ion-avatar>
              <ion-img src='assets/sw_image/person.png' style='width:100%;height:100%'></ion-img>
            </ion-avatar>
          </td>
          <td>
            <br>
            
          기호 {{item.c_num}}번 {{item.c_name}}
          </td>
      </tr>
      <tr> 
        <td>
         <h6> {{item.c_birth}}</h6>  
        </td> 
      
  
      </tr>
   
        
     
      </table>


    </ion-item>

    <br>
    <font style="font-size:20px; margin-bottom: 40px; color: black;">&nbsp;&nbsp;&nbsp;&nbsp;{{item.c_promise}}</font>
  
  </ion-card>
  </div>
  
  </ion-content>