<ion-header>
  <ion-toolbar >
      <ion-buttons slot="start" >
          <ion-back-button  color="primary" defaultHref="/tabs/tab2"></ion-back-button>
        </ion-buttons>
    <ion-title > <font color="blue"> 회원가입 </font> </ion-title>

  </ion-toolbar>
</ion-header>

  <ion-content class="menu">

    <h6><b>아이디</b></h6>

    <ion-grid >
      <ion-row>
<ion-col size="8">
  <ion-item lines="none">
    <ion-input type="text" [(ngModel)]="id" placeholder="아이디"></ion-input>
  </ion-item>
</ion-col>
<ion-col>
  <ion-img src='assets/sw_image/중복확인.png' style='width:100%;height:72%'></ion-img>
</ion-col>
      </ion-row>
    </ion-grid>
    <h6><b>비밀번호</b></h6>
    <ion-item style="margin-left: 10px;">
      <ion-input type="text" [(ngModel)]="pw" placeholder="비밀번호" class="input"></ion-input>
      
    </ion-item>
    <br>
    <ion-item style="margin-left: 10px;">
    <ion-input type="text" [(ngModel)]="pw" placeholder="비밀번호확인" class="input"></ion-input>
   </ion-item>
    <br>
    <h6><b>휴대폰 인증</b></h6>
    <ion-grid>
      <ion-row>
<ion-col size="8">
  <ion-item lines="none">
    <ion-input type="text" [(ngModel)]="phonenumber" placeholder="휴대폰번호 입력"></ion-input>
  </ion-item>
</ion-col>
<ion-col>
  <ion-img src='assets/sw_image/인증번호발송.png' style='width:100%;height:72%'></ion-img>
</ion-col>
      </ion-row>
    </ion-grid>
 


        <ion-button  color="" expand="block" (click)="sign()">회원가입</ion-button>
     
    </ion-content>

    
 
 
  

  