<ion-header>
  <ion-toolbar color = "" style="border-bottom: 0.5px solid gray;">

    <ion-buttons slot="end">
      <ion-button>
       <font style="color: blue;">로그아웃</font> 
      </ion-button>
    </ion-buttons>
      <ion-title><font color="blue"><b>관리자메뉴</b></font></ion-title>
 
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-list *ngFor="let item of items; let i = index;" >
      <div *ngIf="items[i]!=null">
        <ion-card *ngIf="ary[i]==false" (click)="touch(i)">
            <ion-item >
                <table class="product_tabel">
                    <tr>
                        <td rowspan="2" width="20vh;">
                            <ion-avatar>
                                <ion-img src='assets/sw_image/manual-voting.png' style='width:100%;height:100%'></ion-img>
                            </ion-avatar>
                        </td>
                        <td>
                            {{item.e_name}}
                       
                            
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h6>{{item.e_date}}</h6>
                        </td>
                    </tr>
                </table>

                <div *ngIf="state[i]=='심사중'" slot="end"><font style="color: yellow">{{item.e_state}}</font></div>
            </ion-item>
           
        </ion-card>
        <ion-card  *ngIf="ary[i]==true" (click)="touch(i)">
          <ion-item >
              <table class="product_tabel">
                  <tr>
                      <td rowspan="2" width="20vh;">
                          <ion-avatar>
                              <ion-img src='assets/sw_image/manual-voting.png' style='width:100%;height:100%'></ion-img>
                          </ion-avatar>
                      </td>
                      <td>
                          {{item.e_name}}
                      </td>
                  </tr>
                  <tr>
                      <td>
                          <h6>{{item.e_date}}</h6>
                      </td>
                  </tr>
              </table>

              <div *ngIf="state[i]=='심사중'" slot="end"><font style="color: yellow">{{item.e_state}}</font></div>

          </ion-item>
          <ion-item>
              <ion-button color="danger" (click)="changefunc(item)">반려</ion-button>
              <ion-button color="secondary" (click)="toelectionInfo(item)">정보</ion-button>
              <ion-button color="tertiary" (click)="applyfunc(item)">승인</ion-button>
          </ion-item>
      </ion-card>
      </div>
    </ion-list>

   
</ion-content>