
<ion-header>
  <ion-toolbar >
      <ion-buttons slot="start" >
          <ion-back-button  color="primary" defaultHref="/tabs/tab2"></ion-back-button>
        </ion-buttons>
    <ion-title > <font color="blue"> 명부관리 </font> </ion-title>
  
  </ion-toolbar>
</ion-header>
<ion-content class="menu">
  <br>

  <ion-item lines="none">      
      <ion-img src='assets/sw_image/+.png' style='width:50px; height:50px; ' (click)="plus()" ></ion-img>&nbsp;&nbsp;
     <ion-img src='assets/sw_image/-.png' style='width:50px; height:50px; ' (click)="delete()" ></ion-img>&nbsp;&nbsp;
     <ion-img src='assets/sw_image/save.png' style='width:50px; height:50px; ' (click)="save()" ></ion-img>
    </ion-item>
    <br>
    <br>

    

    <ion-list>
        <ion-item *ngFor="let item of items">
            <h1>{{item.u_name}}</h1>
            {{item.u_phonenum}}
        </ion-item>

    </ion-list>
</ion-content>

