<ion-app>
  <ion-content class="main" >
   <br>
   <br>
   <br>
   <br>
    <section >
      <ion-img src='assets/sw_image/manageloginpage.png' style='width:100%;height:100%' (click)='myBackButton()'></ion-img>
  </section>
   <br>
   <br>
   <br>
   <br>
    <section>
     <ion-item lines="none">
       <ion-input type="text" [(ngModel)]="m_id" placeholder="아이디"></ion-input>
     </ion-item>
    </section>
   <br>
    <section>
      <ion-item lines="none">
        <ion-input type="password" [(ngModel)]="m_password" placeholder="비밀번호"></ion-input>
      </ion-item>
    </section>
    <br>
    <section>
      <ion-button (click)="CertificationNumber()" expand="block" color="">로그인하기</ion-button>
    </section>
    <div class="links">
      <br>
      <a href="memberId">아이디 찾기</a> | <a href="memberPw">비밀번호 찾기</a> | <a [routerLink]="['/sign']">회원가입</a>

  </div>

  </ion-content>
</ion-app>