.sign_menu{
  --padding-bottom: 0px;
  --padding-end: 20px;
  --padding-start: 20px;
  --padding-top: -20px;
}


ion-item {
  --border-color: #3B7AE1;
  --border-style: solid;
  --border-width: 1px;
  --border-radius:10px;
  --padding-end: 0px;
}

.main {
--padding-bottom: 20px;
--padding-end: 30px;
--padding-start: 30px;
--padding-top: 40px;

}

ion-button{
--border-radius:10px; 
font-weight: 500;
font-size: 15px;
}

