<ion-header>
  <ion-toolbar color ="">
      <ion-buttons slot="start">
          <ion-back-button text="" color="primary" defaultHref="/tabs/tab2"></ion-back-button>
        </ion-buttons>
        <ion-title><font color="blue"><b>선거관리</b></font></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="menu">
  <div class="ion-padding">
 
     
     
        <canvas #doughnutCanvas style="position: relative; height:20vh; width:40vw"></canvas>
 
  
  </div>
  <br>
  <ion-grid >

    <ion-row>
      <ion-col>
<ion-card>
  <ion-img [routerLink]="['/manageVoter']" src='assets/sw_image/listimage.png' style="width: 100%;height: 130px;"></ion-img>
</ion-card>


       
      </ion-col>
      <ion-col>
        <ion-card>
          <ion-img [routerLink]="['/manageCandiate']" src='assets/sw_image/mbman.png' style="width: 100%;height: 130px;" ></ion-img>
        </ion-card>
      </ion-col>
    </ion-row>


  </ion-grid>
   <br>
  <ion-button  color="" expand="block" (click)="sign()">개표하기</ion-button>
</ion-content>
  